<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp3350.bms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="comp3350.bms.presentation.WalletActivity"
            android:exported="false"
            android:label="Wallet" />
        <activity
            android:name="comp3350.bms.presentation.OnboardingActivity"
            android:exported="true"
            android:label="@string/biddingMarketSimulator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="comp3350.bms.presentation.FeedActivity"
            android:label="@string/itemTitle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.bms.presentation.OnboardingActivity" />
        </activity>
        <activity
            android:name="comp3350.bms.presentation.ProductViewActivity"
            android:label="@string/prodViewPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.bms.presentation.OnboardingActivity" />
        </activity>
        <activity
            android:name="comp3350.bms.presentation.ProductReviewActivity"
            android:label="@string/prodReviewPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.bms.presentation.ProductViewActivity" />
        </activity>
        <activity
            android:name="comp3350.bms.presentation.ProfileViewActivity"
            android:label="@string/profilePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.bms.presentation.ProductReviewActivity" />
        </activity>
    </application>

</manifest>